// Colors
// Primary
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neutral
$very-dark-blue-main-bg: hsl(217, 54%, 11%);
$very-dark-blue-card-bg: hsl(216, 50%, 16%);
$very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);


// Font Sizes
$font-h1: 1.5rem; // 24px
$font-m: 1.125rem; // 18px

// Font Weights
$font-weight-l: 600;
$font-weight-m: 400;
$font-weight-s: 300;
